@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./Mountain.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


#test{
  margin: 0 10px;
}

#test:first-of-type {
  margin-left: 0;
}

#test:last-of-type {
  margin-right: 0;
}

